## EXCLUDE PRODUCTS OF JAVA COMPILATION
*.class

# Package Files #
*.jar
*.war
*.ear

## CUSTOM RULES
# Ignore LaTeX processing and images
*.pdf
*.aux
*.toc
*.log
*.bbl
*.blg
*.lof
*.db
*ssot*
*.synctex.gz

# By default, ignore everything
/*
/*/

# Explicitly include readme file, and team-added files
!.gitignore
!README.md
!PxbComment.txt

!/reports/
!/mcp/
/mcp/*
!/mcp/src/
!/mcp/jars/
/mcp/src/*
/mcp/jars/*
!/mcp/src/minecraft/
!/mcp/jars/saves/
/mcp/jars/saves/*
!/mcp/jars/saves/Christmas Demonstration/
!/mcp/jars/saves/Inroductiory Level/
!/mcp/jars/saves/School Demonstration 21_11_2013/
/mcp/src/minecraft/*
!/mcp/src/minecraft/org/
!/mcp/src/minecraft/assets/
/mcp/src/minecraft/org/*
!/mcp/src/minecraft/org/educraft/
/mcp/src/minecraft/assets/*
!/mcp/src/minecraft/assets/educraft/
/mcp/src/minecraft/assets/educraft/*
!/mcp/src/minecraft/assets/educraft/textures/
/mcp/src/minecraft/assets/educraft/textures/*
!/mcp/src/minecraft/assets/educraft/textures/blocks/
!/mcp/src/minecraft/assets/educraft/textures/gui/
!/mcp/src/minecraft/assets/educraft/textures/items/
