## EXCLUDE PRODUCTS OF JAVA COMPILATION
*.class

# Package Files #
*.jar
*.war
*.ear

## CUSTOM RULES
# By default, ignore everything
/*
/*/

# Explicitly include readme file, and team-added files
!.gitignore
!README.md
!PxbComment.txt

!/mcp/
/mcp/*
!/mcp/src/
!/mcp/jars/
/mcp/src/*
/mcp/jars/*
!/mcp/src/minecraft/
!/mcp/jars/saves/
/mcp/src/minecraft/*
!/mcp/src/minecraft/org
/mcp/src/minecraft/org/*
!/mcp/src/minecraft/org/educraft/
